<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<h1>Show</h1>



  <h2><%= @task.name %></h2>
  <p><%= @task.content %></p>
  <%= link_to "Back to Index", "/tasks", :class => "btn btn-success" %>
